body {
  padding: 30px;
}
main {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 20% 1fr;
  grid-template-areas: 
    "header header"
    "sidebar footer";
  }
header {
  background: lightblue;
  grid-area: header;
}
section {
  background: lightgreen;
  grid-area: sidebar;
}
article {
  background: white;
  margin: 1rem;
}
aside {
  background: pink;
  grid-area: footer;

}
header, article, .module {
  padding: 1rem;
}