body {
  padding: 30px;
}
main {
  display: flex;
  flex-flow: row wrap;
}
header {
  background: lightblue;
  flex: 1 100%;
}
section {
  background: lightgreen;
  flex: 1 75%;
}
article {
  background: white;
  margin: 1rem;
}
aside {
  background: pink;
  flex: 2 25%;
  order: 2;
}
header, article, .module {
  padding: 1rem;
}