 div {
	background: #60B88D;
	width: 600px;
	height: 200px;
	position: relative;
   }
   div::after, div::before {
	content: '';
	position: absolute;
	width: 600px; height: 200px;
	z-index: -1;
   }
   div::after {
	background: #90CDAF;
	top: 5px; left: 5px;
   }
   div::before {
	background: #BFE3D1;
	top: 10px; left: 10px;
   }  